* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 4px;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #212121;
}

body>h3 {
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
}

body>h5 {
    padding: .5rem;
    font-size: .75rem;
    font-weight: lighter;
}

table tr td {
    width: 1px;
    height: 1px;
}

table tr td input {
    padding: .75rem .5rem;
    text-align: end;
    background-color: #212121;
    border: 4px solid #BDBDBD;
}

table tr td button {
    width: 100%;
    height: 100%;
    padding: .5rem;
    background-color: #424242;
    border: 4px solid transparent;
}

table tr td button:hover {
    cursor: pointer;
    border: 4px solid #BDBDBD;
}

table tr td .cl-button {
    background-color: #880E4F;
}

table tr td .op-button {
    background-color: #616161;
}

table tr td .ed-button {
    background-color: #455A64;
}